<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neusoft.qiangzi.ttl">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <application>
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="14646292"/>

        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="TGvPkwwxlZVXnv4ebuKKgYqL"/>
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="V3hL4ovo3xV9hvrlbjo2V1c7ddQHZGX0"/>
    </application>
</manifest>